alembic
aniso8601
blinker
click
Flask==2.2.5
Flask-Cors
Flask-JWT-Extended
Flask-Migrate
Flask-RESTful
flask-restx
Flask-SQLAlchemy==3.0.2
greenlet
gunicorn
itsdangerous
Jinja2
Mako
MarkupSafe
packaging
PyJWT
pytz
six
SQLAlchemy
SQLAlchemy-serializer
typing_extensions
Werkzeug
